<table class="table is-fullwidth is-hoverable is-centered is-narrow">
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
	  <th>Comments</th>
      <th><abbr title="Git Repository Link">Git-Repo</abbr></th>
	  <th>Progress</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr class="completed">
      <td>Completed User</td>
      <td>first-to-last@gmail.com</td>
	  <td>Good</td>
      <td><a class="button is-primary">Copy</a></td>
	  <td><progress class="progress is-success" value="100" max="100"></progress></td>
	  <td>Completed</td>
    </tr>
    <tr class="failed">
      <td>Failed User</td>
      <td>failed-user@hotmail.com</td>
	  <td></td>
      <td><a class="button is-primary">Copy</a></td>
	  <td><progress class="progress is-success" value="20" max="100"></progress></td>
	  <td>Failed</td>
    </tr>
	<tr class="in-progress">
      <td>In-Progress User</td>
      <td>in-progress@someemail.com</td>
	  <td></td>
      <td><a class="button is-primary">Copy</a></td>
	  <td><progress class="progress is-success" value="75" max="100"></progress></td>
	  <td>In-Progress</td>
    </tr>
	<tr>
      <td>User with no background color</td>
      <td>nocolor-user@yahoo.ca</td>
	  <td></td>
      <td><a class="button is-primary">Copy</a></td>
	  <td><progress class="progress is-success" value="0" max="100"></progress></td>
	  <td>Not Started</td>
    </tr>
  </tbody>
</table>