{{nav-bar}}

<div class="container is-fluid" style="margin-top: 20px">
  <h1 class="title">About Testify</h1>
  <p>
    Hiring managers at software companies are tasked with accurately assessing the competency of candidates
    leading to a potential offer of employment. However, the process of getting the interviewer the information
    they need and the interviewee completing a set of tasks is often convoluted as exemplified by lengthy email
    chains with bulky attachments. The objective of this project is to build a system that will provide a
    centralized service for conducting take home coding tests. Testify is a web-based service that provides a
    collaborative platform facilitating discussions between the interviewer and the candidates. Testify
    encapsulates the end to end hiring process with an emphasis on relevancy of technical coding challenges,
    all in one place, eliminating the need to juggle applicant data across scattered services. This project requires
    knowledge of software architecture, databases, and computer security to design and develop a robust and
    secure application that can be potentially scaled up using concepts from distributed computing as well. The
    main advantage of this project over other alternatives is that it reduces the work required to keep track of
    candidates who have written take home tests. This process aims to exterminate the practice of regurgitation
    of memorized solutions to standardized interview problems.
  </p>
  {{#link-to "contact" class="button is-primary"}}
  Contact Us
  {{/link-to}}
  <footer>
    <div class="content has-text-centered">
      <a href="https://bulma.io">
        <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
      </a>
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
</div>