<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.1-->
</head>

<body>
    <section class="hero is-primary is-fullheight" style="background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
      <div class="hero-head">
        <div class="container has-text-centered">
          <img src="/images/logo_reverse.png" style="filter: invert(1);" />
        </div>
        <!-- login modal -->
        <div class="modal {{if isActive "is-active"}}">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Start the Demo!</p>
              <button {{action 'toggleModal'}} class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <div class="hero-body">
                <div class="container has-text-centered">
                  <a onclick={{action "login"}} class="button is-large">
                    <span class="icon">
                      <i class="fa fa-github fa-lg"></i>
                    </span>
                    {{#if session.isAuthenticated}}
                    <span>Let's Go!</span>
                    {{else}}
                    <span>Login with GitHub</span>
                    {{/if}}
                  </a>
                  <p class="has-text-grey">
                    <a href="/login">Employer Login</a>
                  </p>
                </div>
              </div>
            </section>
          </div>
        </div>
        <a class="button" style="
          margin-top: 20px;
          color: #235e72;
          margin-right: 30px;
          position:absolute;
          top: 20px;
          right: 0;">
          {{#link-to 'home'}}
          <i class="fas fa-info-circle">
            Demo
          </i>
          Demo
          {{/link-to}}
        </a>
      </div>
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h2 class="subtitle">
            This is the best software platform for hosting technical software interviews.
            We handle and faciliate all steps of the interview process and help manage your candidates.
          </h2>
          <div class="box">
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="Enter your email">
              </p>
              <p class="control">
                <a class="button is-info">
                Notify Me
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
  </section>
</body>
