{{nav-bar}}

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Profile
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      Full Name: {{model.name}}<br />
      Profile Link: {{model.htmlUrl}}<br />
      Location: {{model.location}}
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  </footer>
</div>
